<p>
<br></br>
You have submitted the following albums (0):
<%= form_tag({controller: "albums", action: "save_album"}, method: :post) do %>
<table style="width:90%">
  <tr>
    <th><div style="width: 50px" >Add to Saved</div></th>
    <th><div style="width: 150px" >Search String</div></th> 
    <th><div style="width: 150px" >Result Album</div></th>
    <th><div style="width: 250px" >Match %</div></th>
    <th><div style="width: 70px" >Result Album Cover</div></th>
  </tr>
  <% @match_list.each do |match_object| %>
  	<tr>
	<td><div style="width: 50px" >
  <%= check_box_tag 'album_Ids[]', match_object.id, true -%>
  <input checked="checked" id="albumDetail_<%= match_object.id %>" name="<%= match_object.id %>" type="checkbox" value="<%= match_object.id %>" />
	<td><div style="width: 150px" ><%= match_object.search %></div></td>
	<td><div style="width: 150px" ><%= match_object.result %></div></td>
	<td><div style="width: 250px" ><%= progress_bar(match_object.percentage, :color => '#17141B', :rounded => true) %> <%= match_object.percentage %>%</div></td>
	<td><div style="width: 70px" ><img src="<%= match_object.image %>" height="64" width="64"></div></td>
	</tr>
<% end %>  
</table>
<%= content_tag(:button, "Save Selected Albums", :type=>:submit)%>
<% end %>
</form>
</p>

