<h2>Hello <%= @user.display_name %></h2>
(<%= @user.email %>)
<p>
</p>
<p>
<br></br>
You have saved the following albums (<%= @albums.size %>):
<ol>
<% @albums.each do |album| %>
<li><%=  album.name %> - <%=  album.artists.first.name%></li>
<% end %>
</ol>
</p>

<p>
	<%= form_tag({controller: "albums", action: "search"}, method: :post) do %>
  		<%= text_area_tag(:message, "e.g. Gossip - A Joyful Noise", size: "24x6") %>
		<%= content_tag(:button, "Submit", :type=>:submit)%>
	<% end %>
</p>

<br></br>
You have saved the following Playlists (<%= @playlists.size %>):
<% @playlists.each do |playlist| %>
<li><%=  playlist.name %></li>
<% end %>
<p>


