<h2>Hello <%= @name %></h2>
(<%= @spotify_user.email %>)
<p>
  The time is now: <%= Time.now %>
</p>

<%= @album.inspect %>

You have saved the following albums (<%= @albums.size %>):

<% @albums.each do |album| %>
<li><%=  album.name %></li>

<% end %>