<h2>Hello <%= @user.name %></h2>
(<%= @user.email %>)
<p>
</p>

<%= @albums.first.inspect %>

You have saved the following albums (<%= @albums.size %>):

<% @albums.each do |album| %>
<li><%=  album.name %></li>

<% end %>