<h2>Hello <%= @user.display_name %></h2>
(<%= @user.email %>)
<p>
</p>
<p>
<br></br>
You have saved the following albums (<%= @albums.size %>):
<% @albums.each do |album| %>
<li><%=  album.name %> - <%=  album.artists.to_s %></li>

</p>
<br></br>
You have saved the following Playlists (<%= @playlists.size %>):
<% @playlists.each do |playlist| %>
<li><%=  playlist.name %></li>
<p>


<% end %>